<div class="demoTable layui-form">
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="190">
            <col width="250">
            <col width="250">
            <col width="250">
            <col width="250">
            <col width="250">
            <col width="250">
            <col width="170">
            <col width="250">
            <col width="20">
            <col width="250">
        </colgroup>
        <tbody>
        <tr>
            <td>服务器ip:</td>
            <td>
                <select name="ip" lay-filter="ip" id="ip"  >
                    <option value="">请选择所在服务器</option>
                </select>
            </td>
            <td>文件名:</td>
            <td>
                <div class="layui-input-inline">
                    <input class="layui-input path" name="path" placeholder="文件名" id="path">
                </div>
            </td>
            <td>
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="search" id="search">搜索</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>