-rw-r--r--  1 root root         0 6月  22 10:24 ruku.txt
-rw-r--r--  1 root root 112398846 4月  30 09:23 late for class.mp4
-rw-r--r--  1 root root 119055071 4月  30 09:35 get some.mp4
-rw-r--r--  1 root root 131412619 4月  30 09:37 five score years ago.mp4
-rw-r--r--  1 root root     13580 5月   6 09:39 工作簿1.xlsx
-rw-r--r--  1 root root 136277736 4月  30 09:35 get real.mp4
-rw-r--r--  1 root root 137161078 4月  30 09:35 get in line.mp4
-rw-r--r--  1 root root 138267899 4月  30 09:23 laptop computer.mp4
-rw-r--r--  1 root root 140215854 4月  30 09:23 late in autumn.mp4
-rw-r--r--  1 root root 144413569 4月  30 09:36 freaking out.mp4
-rw-r--r--  1 root root 146139276 4月  30 09:36 game change.mp4
-rw-r--r--  1 root root 150862291 4月  30 09:36 front office.mp4
-rw-r--r--  1 root root 154093045 4月  30 09:37 fixed on.mp4
-rw-r--r--  1 root root 167353404 4月  30 09:34 ground breaking.mp4
-rw-r--r--  1 root root 168866649 4月  30 09:34 hard up.mp4
-rw-r--r--  1 root root 169806131 4月  30 09:37 flee to.mp4
-rw-r--r--  1 root root 171227072 4月  30 09:37 found it.mp4
-rw-r--r--  1 root root 183344843 4月  30 09:34 good things take time.mp4
-rw-r--r--  1 root root 185283445 4月  30 09:37 forgot password.mp4
-rw-r--r--  1 root root 188929048 4月  30 09:35 golf club.mp4
-rw-r--r--  1 root root 189337868 4月  30 09:35 go down in history.mp4
-rw-r--r--  1 root root   2060342 4月  25 15:12 airport express.png
-rw-r--r--  1 root root   2063371 4月  25 15:12 aging population.png
-rw-r--r--  1 root root   2074128 4月  25 15:19 laughter is the best medicine.png
-rw-r--r--  1 root root   2081770 4月  25 15:11 acting out.png
-rw-r--r--  1 root root   2085383 4月  25 15:11 a tower of strength.png
-rw-r--r--  1 root root   2086544 4月  25 15:11 a quarter past nine.png
-rw-r--r--  1 root root   2092812 4月  25 15:19 lay the foundation for.png
-rw-r--r--  1 root root   2093613 4月  25 15:10 a chicken.png
-rw-r--r--  1 root root   2104132 4月  25 15:11 a rabbit.png
-rw-r--r--  1 root root   2106989 4月  25 15:11 a sense of accomplishment.png
-rw-r--r--  1 root root   2113264 4月  25 15:11 a song.png
-rw-r--r--  1 root root   2123357 4月  25 15:11 a leaf.png
-rw-r--r--  1 root root 230044569 4月  30 09:35 gross merchandise volume.mp4
-rw-r--r--  1 root root  24060266 4月  29 10:31 so do i.mp4
-rw-r--r--  1 root root  25143589 4月  29 10:31 leave the door open.mp4
-rw-r--r--  1 root root  26605115 4月  29 10:29 right as rain.mp4
-rw-r--r--  1 root root  26892101 4月  29 10:30 has done.mp4
-rw-r--r--  1 root root  26961062 4月  29 10:31 i want to.mp4
-rw-r--r--  1 root root  27229875 4月  29 10:31 my bad.mp4
-rw-r--r--  1 root root  28273148 4月  30 09:38 dry cleaning.mp4
-rw-r--r--  1 root root  29235608 4月  29 10:30 love paradise.mp4
-rw-r--r--  1 root root  29262753 4月  29 10:21 dead cells.mp4
-rw-r--r--  1 root root  29564175 4月  29 10:29 rome was not built in a day.mp4
-rw-r--r--  1 root root  29851877 4月  29 10:17 do laundry.mp4
-rw-r--r--  1 root root  29917211 4月  30 09:38 do that.mp4
-rw-r--r--  1 root root  30152035 4月  29 10:30 invest in.mp4
-rw-r--r--  1 root root  30228960 4月  29 10:31 when it comes to.mp4
-rw-r--r--  1 root root   3048352 4月  29 10:24 have difficulty.png
-rw-r--r--  1 root root  30495448 4月  29 10:20 be a man.mp4
-rw-r--r--  1 root root  30550047 4月  29 10:21 love myself.mp4
-rw-r--r--  1 root root  30623767 4月  29 10:30 handsome boy.mp4
-rw-r--r--  1 root root  31343541 4月  29 10:23 a letter home.mp4
-rw-r--r--  1 root root  31410812 4月  29 10:21 on one's way.mp4
-rw-r--r--  1 root root  31428575 4月  29 10:29 save changes.mp4
-rw-r--r--  1 root root  31440950 4月  30 09:38 do your ears hang low.mp4
-rw-r--r--  1 root root  31622690 4月  30 09:40 chopping board.mp4
-rw-r--r--  1 root root  31740360 4月  29 10:17 we are here.mp4
-rw-r--r--  1 root root  31801799 4月  29 10:30 rain cats and dogs.mp4
-rw-r--r--  1 root root  31872284 4月  29 10:27 just the two of us.mp4
-rw-r--r--  1 root root  32035284 4月  29 10:30 late for school.mp4
-rw-r--r--  1 root root  32166655 4月  29 10:24 where to go.mp4
-rw-r--r--  1 root root  32239381 4月  30 09:37 five minutes.mp4
-rw-r--r--  1 root root  32347482 4月  29 10:20 a pair of shoes.mp4
-rw-r--r--  1 root root  32472244 4月  30 09:40 black pig.mp4
-rw-r--r--  1 root root  32494483 4月  29 10:31 speculate about.mp4
-rw-r--r--  1 root root  32511465 4月  29 10:29 believe in you.mp4
-rw-r--r--  1 root root  32575652 4月  29 10:30 be busy doing.mp4
-rw-r--r--  1 root root  32767493 4月  30 09:41 avoid doing something.mp4
-rw-r--r--  1 root root  32968686 4月  29 10:31 remember me.mp4
-rw-r--r--  1 root root  32980014 4月  29 10:21 mother in law.mp4
-rw-r--r--  1 root root  33180871 4月  29 10:19 call me later.mp4
-rw-r--r--  1 root root  33235877 4月  29 10:22 you are the reason.mp4
-rw-r--r--  1 root root  33270290 4月  30 09:40 cherry tree.mp4
-rw-r--r--  1 root root  33366369 4月  29 10:24 a cold.mp4
-rw-r--r--  1 root root  33488208 4月  29 10:23 enough to.mp4
-rw-r--r--  1 root root  33547051 4月  30 09:38 dive off.mp4
-rw-r--r--  1 root root  33839826 4月  29 10:20 this is my.mp4
-rw-r--r--  1 root root  33914031 4月  29 10:20 breaking my heart.mp4
-rw-r--r--  1 root root  33966418 4月  29 10:21 have a toothache.mp4
-rw-r--r--  1 root root  33966723 4月  29 10:25 happy april fool.mp4
-rw-r--r--  1 root root  34058940 4月  29 10:23 what shape is it.mp4
-rw-r--r--  1 root root  34073384 4月  29 10:21 please don't go.mp4
-rw-r--r--  1 root root  34311249 4月  29 10:22 give it a go.mp4
-rw-r--r--  1 root root  34356311 4月  30 09:39 crime rate.mp4
-rw-r--r--  1 root root  34569003 4月  29 10:21 in the class.mp4
-rw-r--r--  1 root root  34592577 4月  30 09:38 every weekday.mp4
-rw-r--r--  1 root root  34668998 4月  29 10:23 that all right.mp4
-rw-r--r--  1 root root  34738335 4月  29 10:18 on the first floor.mp4
-rw-r--r--  1 root root  34848530 4月  30 09:40 blew out.mp4
-rw-r--r--  1 root root  34855912 4月  30 09:40 cast pearls before swine.mp4
-rw-r--r--  1 root root  34858490 4月  30 09:37 fall by the wayside.mp4
-rw-r--r--  1 root root  34970549 4月  29 10:22 the sun is shining.mp4
-rw-r--r--  1 root root  35078329 4月  29 10:21 the scientist.mp4
-rw-r--r--  1 root root  35137544 4月  29 10:23 skin deep.mp4
-rw-r--r--  1 root root  35211192 4月  29 10:21 drawing in the park.mp4
-rw-r--r--  1 root root  35267654 4月  29 10:17 feel at home.mp4
-rw-r--r--  1 root root  35315557 4月  29 10:30 came to.mp4
-rw-r--r--  1 root root  35318888 4月  26 09:12 a song.mp4
-rw-r--r--  1 root root  35487325 4月  30 09:40 block party.mp4
-rw-r--r--  1 root root  35526430 4月  29 10:22 be in bed.mp4
-rw-r--r--  1 root root  35537937 4月  29 10:31 high school.mp4
-rw-r--r--  1 root root  35687603 4月  29 10:22 street corner.mp4
-rw-r--r--  1 root root  35930181 4月  30 09:40 beef stew.mp4
-rw-r--r--  1 root root  35933776 4月  29 10:21 jingle bell.mp4
-rw-r--r--  1 root root  35977174 4月  29 10:18 no key.mp4
-rw-r--r--  1 root root  36067891 4月  29 10:17 do the washing.mp4
-rw-r--r--  1 root root  36150346 4月  29 10:19 good health.mp4
-rw-r--r--  1 root root  36220747 4月  29 10:20 day dream.mp4
-rw-r--r--  1 root root  36563521 4月  29 10:26 an army of.mp4
-rw-r--r--  1 root root  36652773 4月  29 10:20 a growing number of.mp4
-rw-r--r--  1 root root  36717282 4月  29 10:19 dance to music.mp4
-rw-r--r--  1 root root  36738232 4月  30 09:38 east lake.mp4
-rw-r--r--  1 root root  36747541 4月  29 10:17 whole life.mp4
-rw-r--r--  1 root root  36750177 4月  26 09:12 a rabbit.mp4
-rw-r--r--  1 root root  36776593 4月  29 10:28 taken away.mp4
-rw-r--r--  1 root root  36792552 4月  30 09:39 class room.mp4
-rw-r--r--  1 root root  36796833 4月  29 10:20 gift card.mp4
-rw-r--r--  1 root root  36812987 4月  29 10:23 graze on.mp4
-rw-r--r--  1 root root  36890323 4月  29 10:20 learn a lesson.mp4
-rw-r--r--  1 root root  36898433 4月  29 10:18 need for.mp4
-rw-r--r--  1 root root  36900305 4月  29 10:25 hot chocolate.mp4
-rw-r--r--  1 root root  36956487 4月  29 10:25 have difficulty.mp4
-rw-r--r--  1 root root  37022885 4月  29 10:30 increase by.mp4
-rw-r--r--  1 root root  37046946 4月  29 10:24 be said to do.mp4
-rw-r--r--  1 root root  37126240 4月  29 10:17 the odds.mp4
-rw-r--r--  1 root root  37156773 4月  30 09:48 where were you.mp4
-rw-r--r--  1 root root  37251976 4月  30 09:40 blonde hair.mp4
-rw-r--r--  1 root root  37584604 4月  29 10:23 get ill.mp4
-rw-r--r--  1 root root  37853018 4月  29 10:17 whip out.mp4
-rw-r--r--  1 root root  37924063 4月  29 10:18 invalid character.mp4
-rw-r--r--  1 root root  38100996 4月  30 09:40 by the door.mp4
-rw-r--r--  1 root root  38180519 4月  29 10:25 ill bred.mp4
-rw-r--r--  1 root root  38264058 4月  29 10:24 arctic fox.mp4
-rw-r--r--  1 root root  38358164 4月  29 10:17 using the computer.mp4
-rw-r--r--  1 root root  38507681 4月  29 10:20 blow your nose.mp4
-rw-r--r--  1 root root  38589104 4月  29 10:29 work out fine.mp4
-rw-r--r--  1 root root  38603055 4月  29 10:22 make full use of.mp4
-rw-r--r--  1 root root  38899961 4月  30 09:42 arcade game.mp4
-rw-r--r--  1 root root  38930877 4月  30 09:37 feel small.mp4
-rw-r--r--  1 root root  38942703 4月  29 10:23 what does she do.mp4
-rw-r--r--  1 root root  38950540 4月  29 10:21 listening to music.mp4
-rw-r--r--  1 root root  38956608 4月  30 09:38 emergency contact.mp4
-rw-r--r--  1 root root  38965220 4月  29 10:21 see to it that.mp4
-rw-r--r--  1 root root  39013625 4月  30 09:38 do some sports.mp4
-rw-r--r--  1 root root  39044310 4月  29 10:19 high hopes.mp4
-rw-r--r--  1 root root  39061349 4月  29 10:18 hope to do sth.mp4
-rw-r--r--  1 root root  39097988 4月  30 09:42 another level.mp4
-rw-r--r--  1 root root  39098038 4月  30 09:41 at the market.mp4
-rw-r--r--  1 root root  39119739 4月  29 10:31 on hand.mp4
-rw-r--r--  1 root root  39122502 4月  29 10:29 think for oneself.mp4
-rw-r--r--  1 root root  39146545 4月  30 09:41 base coat.mp4
-rw-r--r--  1 root root  39175487 4月  29 10:19 play hide and seek.mp4
-rw-r--r--  1 root root  39175709 4月  29 10:18 saving account.mp4
-rw-r--r--  1 root root  39235002 4月  29 10:18 there is no need.mp4
-rw-r--r--  1 root root  39249625 4月  30 09:39 cut class.mp4
-rw-r--r--  1 root root  39369464 4月  30 09:39 common wealth.mp4
-rw-r--r--  1 root root  39442962 4月  29 10:28 to take.mp4
-rw-r--r--  1 root root  39478408 4月  30 09:40 beyond repair.mp4
-rw-r--r--  1 root root  39494742 4月  30 09:41 be listed as.mp4
-rw-r--r--  1 root root  39524940 4月  29 10:17 two fifths.mp4
-rw-r--r--  1 root root  39558283 4月  29 10:23 tune up.mp4
-rw-r--r--  1 root root  39782844 4月  30 09:39 confirm to.mp4
-rw-r--r--  1 root root  39866201 4月  26 09:11 a leaf.mp4
-rw-r--r--  1 root root  39889349 4月  29 10:19 enter code.mp4
-rw-r--r--  1 root root  39993932 4月  30 09:39 decimal place.mp4
-rw-r--r--  1 root root  40013623 4月  30 09:42 apple polisher.mp4
-rw-r--r--  1 root root  40014793 4月  29 10:22 party animals.mp4
-rw-r--r--  1 root root  40032913 4月  29 10:31 loyal to.mp4
-rw-r--r--  1 root root  40288410 4月  30 09:38 dwell in.mp4
-rw-r--r--  1 root root  40446280 4月  29 10:20 long shot.mp4
-rw-r--r--  1 root root  40725013 4月  30 09:39 copy of.mp4
-rw-r--r--  1 root root  40838561 4月  29 10:22 never seen.mp4
-rw-r--r--  1 root root  40926154 4月  29 10:19 normal boot.mp4
-rw-r--r--  1 root root  40926576 4月  30 09:47 in stead of.mp4
-rw-r--r--  1 root root  40991773 4月  30 09:38 during the holiday.mp4
-rw-r--r--  1 root root  41011603 4月  30 09:40 chess board.mp4
-rw-r--r--  1 root root  41016714 4月  29 10:20 would rather than.mp4
-rw-r--r--  1 root root  41231267 4月  30 09:37 face paint.mp4
-rw-r--r--  1 root root  41272270 4月  29 10:24 bid farewell to.mp4
-rw-r--r--  1 root root  41285035 4月  29 10:28 a lovely day.mp4
-rw-r--r--  1 root root  41426454 4月  30 09:41 asset tag.mp4
-rw-r--r--  1 root root  41481502 4月  29 10:26 where there is life.mp4
-rw-r--r--  1 root root  41560783 4月  29 10:31 in order that.mp4
-rw-r--r--  1 root root  41578389 4月  30 09:39 comparable to.mp4
-rw-r--r--  1 root root  41592135 4月  29 10:27 have a sports meeting.mp4
-rw-r--r--  1 root root  41723725 4月  29 10:24 it is time to.mp4
-rw-r--r--  1 root root  41765642 4月  30 09:41 be relaxed.mp4
-rw-r--r--  1 root root  41946682 4月  29 10:24 on the market.mp4
-rw-r--r--  1 root root  42013101 4月  30 09:39 cotton wool.mp4
-rw-r--r--  1 root root  42021011 4月  29 10:30 pajama party.mp4
-rw-r--r--  1 root root  42046050 4月  29 10:17 win a prize.mp4
-rw-r--r--  1 root root  42155582 4月  29 10:22 get in touch with sb.mp4
-rw-r--r--  1 root root  42166127 4月  29 10:23 cared for.mp4
-rw-r--r--  1 root root  42170173 4月  29 10:26 be angry with sb.mp4
-rw-r--r--  1 root root  42256112 4月  29 10:32 hand out.mp4
-rw-r--r--  1 root root  42428179 4月  30 09:38 double bed.mp4
-rw-r--r--  1 root root  42705283 4月  29 10:19 why the long face.mp4
-rw-r--r--  1 root root  42741510 4月  26 09:13 acting out.mp4
-rw-r--r--  1 root root  42805599 4月  29 10:18 locked down.mp4
-rw-r--r--  1 root root  42811856 4月  29 10:21 forget about.mp4
-rw-r--r--  1 root root  42835780 4月  30 09:39 civil servants.mp4
-rw-r--r--  1 root root  42943481 4月  29 10:26 new yorker.mp4
-rw-r--r--  1 root root  43026391 4月  29 10:28 on the top.mp4
-rw-r--r--  1 root root  43040122 4月  30 09:40 chinese model.mp4
-rw-r--r--  1 root root  43066286 4月  29 10:25 have a crush.mp4
-rw-r--r--  1 root root  43077913 4月  29 10:29 a field trip.mp4
-rw-r--r--  1 root root  43098456 4月  29 10:22 obsessed with.mp4
-rw-r--r--  1 root root  43153078 4月  30 09:39 chronological order.mp4
-rw-r--r--  1 root root  43270383 4月  29 10:24 to what extent.mp4
-rw-r--r--  1 root root  43312997 4月  29 10:17 tooth and nail.mp4
-rw-r--r--  1 root root  43331749 4月  30 09:38 expository writing.mp4
-rw-r--r--  1 root root  43345126 4月  29 10:26 save one's life.mp4
-rw-r--r--  1 root root  43466971 4月  30 09:41 back fire.mp4
-rw-r--r--  1 root root  43483509 4月  29 10:25 car free day.mp4
-rw-r--r--  1 root root  43615951 4月  29 10:24 knelt down.mp4
-rw-r--r--  1 root root  43634192 4月  29 10:23 travel plan.mp4
-rw-r--r--  1 root root  43659074 4月  29 10:26 walks of life.mp4
-rw-r--r--  1 root root  43691760 4月  29 10:26 call names.mp4
-rw-r--r--  1 root root  43807688 4月  29 10:19 heat wave.mp4
-rw-r--r--  1 root root  43935808 4月  29 10:23 stood by.mp4
-rw-r--r--  1 root root  43984225 4月  29 10:18 contract with.mp4
-rw-r--r--  1 root root  44078278 4月  30 09:39 cured meat.mp4
-rw-r--r--  1 root root  44231725 4月  29 10:20 focuses on.mp4
-rw-r--r--  1 root root  44425945 4月  26 09:11 a quarter past nine.mp4
-rw-r--r--  1 root root  44452350 4月  30 09:41 art studio.mp4
-rw-r--r--  1 root root  44632682 4月  30 09:39 culture diversity.mp4
-rw-r--r--  1 root root  44636299 4月  30 09:38 even so.mp4
-rw-r--r--  1 root root  44753923 4月  30 09:39 crash out.mp4
-rw-r--r--  1 root root  44902548 4月  29 10:22 would you please.mp4
-rw-r--r--  1 root root  44953397 4月  29 10:25 in advance.mp4
-rw-r--r--  1 root root  45097554 4月  29 10:26 rhyming words.mp4
-rw-r--r--  1 root root  45272098 4月  29 10:25 happy birthday to me.mp4
-rw-r--r--  1 root root  45359538 4月  30 09:39 conveyor belt.mp4
-rw-r--r--  1 root root  45494903 4月  30 09:41 as below.mp4
-rw-r--r--  1 root root  45581887 4月  29 10:27 at the farm.mp4
-rw-r--r--  1 root root  45625191 4月  30 09:38 driverless cars.mp4
-rw-r--r--  1 root root  45702948 4月  29 10:28 a fish.mp4
-rw-r--r--  1 root root  45953129 4月  30 09:40 bug spray.mp4
-rw-r--r--  1 root root  46063467 4月  29 10:30 pride and prejudice.mp4
-rw-r--r--  1 root root  46143195 4月  30 09:37 fat man.mp4
-rw-r--r--  1 root root  46169446 4月  29 10:25 victory day.mp4
-rw-r--r--  1 root root  46197437 4月  29 10:20 easter show.mp4
-rw-r--r--  1 root root  46250572 4月  30 09:41 bearing on.mp4
-rw-r--r--  1 root root  46339883 4月  30 09:39 dining car.mp4
-rw-r--r--  1 root root  46350086 4月  29 10:20 in contact with.mp4
-rw-r--r--  1 root root  46489077 4月  30 09:41 be infected with.mp4
-rw-r--r--  1 root root  46492767 4月  30 09:39 dating back.mp4
-rw-r--r--  1 root root  46678569 4月  30 09:40 business suit.mp4
-rw-r--r--  1 root root  46864532 4月  29 10:22 sweet girl.mp4
-rw-r--r--  1 root root  46864761 4月  30 09:41 be removed from.mp4
-rw-r--r--  1 root root  46964516 4月  29 10:18 common ground.mp4
-rw-r--r--  1 root root  47067141 4月  29 10:24 black magic.mp4
-rw-r--r--  1 root root  47309716 4月  30 09:41 be compatible with.mp4
-rw-r--r--  1 root root  47548497 4月  29 10:27 be made for.mp4
-rw-r--r--  1 root root  47769935 4月  29 10:26 sentence pattern.mp4
-rw-r--r--  1 root root  47784663 4月  29 10:23 come into play.mp4
-rw-r--r--  1 root root  47841107 4月  29 10:27 send sb sth.mp4
-rw-r--r--  1 root root  47906550 4月  29 10:25 freight collect.mp4
-rw-r--r--  1 root root  47936765 4月  29 10:20 have trouble in doing sth.mp4
-rw-r--r--  1 root root  47943242 4月  29 10:22 gross profit.mp4
-rw-r--r--  1 root root  48141552 4月  30 09:38 division of labor.mp4
-rw-r--r--  1 root root  48160212 4月  29 10:30 from my point of view.mp4
-rw-r--r--  1 root root  48261593 4月  29 10:26 mission statement.mp4
-rw-r--r--  1 root root  48711629 4月  29 10:24 internal server error.mp4
-rw-r--r--  1 root root  49255528 4月  29 10:27 drive through.mp4
-rw-r--r--  1 root root  49268477 4月  29 10:25 be buried in.mp4
-rw-r--r--  1 root root  49525649 4月  29 10:24 augmented reality.mp4
-rw-r--r--  1 root root  49668931 4月  26 09:14 aging population.mp4
-rw-r--r--  1 root root  49710044 4月  29 10:29 addition to.mp4
-rw-r--r--  1 root root  49850391 4月  29 10:27 be available for.mp4
-rw-r--r--  1 root root  50114355 4月  29 10:27 comfort food.mp4
-rw-r--r--  1 root root  50271298 4月  30 09:40 by necessity.mp4
-rw-r--r--  1 root root  50398909 4月  29 10:25 touch wood.mp4
-rw-r--r--  1 root root  50490470 4月  29 10:29 make a point of.mp4
-rw-r--r--  1 root root  50757051 4月  29 10:20 net profit.mp4
-rw-r--r--  1 root root  51339726 4月  26 09:11 a chicken.mp4
-rw-r--r--  1 root root  51396437 4月  29 10:25 wind turbine.mp4
-rw-r--r--  1 root root  51519598 4月  26 09:13 a tower of strength.mp4
-rw-r--r--  1 root root  51532018 4月  29 10:30 no cross no crown.mp4
-rw-r--r--  1 root root  51933250 4月  30 09:41 be considerate of.mp4
-rw-r--r--  1 root root  51940731 4月  29 10:25 the zoo story.mp4
-rw-r--r--  1 root root  52030080 4月  29 10:27 pen holder.mp4
-rw-r--r--  1 root root  52658834 4月  30 09:47 in harmony.mp4
-rw-r--r--  1 root root  52855728 4月  29 10:27 drug abuse.mp4
-rw-r--r--  1 root root  52864589 4月  26 17:23 laughter is the best medicine.mp4
-rw-r--r--  1 root root  53101046 4月  30 09:38 enjoy the full moon.mp4
-rw-r--r--  1 root root  53188224 4月  30 09:24 what was that.mp4
-rw-r--r--  1 root root  54025980 4月  30 09:25 virgin wool.mp4
-rw-r--r--  1 root root  55039690 4月  30 09:42 all by oneself.mp4
-rw-r--r--  1 root root  55227339 4月  29 10:27 answer the question.mp4
-rw-r--r--  1 root root  55530755 4月  26 09:12 a sense of accomplishment.mp4
-rw-r--r--  1 root root  55536351 4月  26 09:14 airport express.mp4
-rw-r--r--  1 root root  55664387 4月  29 10:27 hate crime.mp4
-rw-r--r--  1 root root  55787536 4月  30 09:25 venus flytrap.mp4
-rw-r--r--  1 root root  56111157 4月  29 10:22 my favorite season.mp4
-rw-r--r--  1 root root  56584849 4月  30 09:24 whenever possible.mp4
-rw-r--r--  1 root root  56844368 4月  30 09:23 yes i have.mp4
-rw-r--r--  1 root root  56983500 4月  30 09:39 connection with.mp4
-rw-r--r--  1 root root  57134526 4月  30 09:24 what do you want to buy.mp4
-rw-r--r--  1 root root  58144864 4月  30 09:24 water parks.mp4
-rw-r--r--  1 root root  58354082 4月  26 17:12 lay the foundation for.mp4
-rw-r--r--  1 root root  58759910 4月  29 10:28 unearned revenue.mp4
-rw-r--r--  1 root root  59109805 4月  30 09:24 what do they like.mp4
-rw-r--r--  1 root root  59465882 4月  29 10:18 lose one's temper.mp4
-rw-r--r--  1 root root  59484953 4月  29 10:26 ministry of education.mp4
-rw-r--r--  1 root root  60107809 4月  29 10:27 intercultural communication.mp4
-rw-r--r--  1 root root  60301439 4月  30 09:23 yes i can.mp4
-rw-r--r--  1 root root  60604581 4月  30 09:24 wave off.mp4
-rw-r--r--  1 root root  62792263 4月  30 09:24 vital sign.mp4
-rw-r--r--  1 root root  62894344 4月  30 09:23 white rabbit.mp4
-rw-r--r--  1 root root  63199830 4月  30 09:35 generation to generation.mp4
-rw-r--r--  1 root root  68166282 4月  30 09:24 way of life.mp4
-rw-r--r--  1 root root  68200491 4月  30 09:23 without a doubt.mp4
-rw-r--r--  1 root root  68232961 4月  30 09:24 walking boots.mp4
-rw-r--r--  1 root root  68340662 4月  30 09:41 be adept at.mp4
-rw-r--r--  1 root root  68540655 4月  30 09:24 what kind of music do you like.mp4
-rw-r--r--  1 root root  69810973 4月  30 09:35 go where.mp4
-rw-r--r--  1 root root    834664 4月  30 09:24 water parks.jpg
-rw-r--r--  1 root root    841350 4月  29 10:23 tune up.jpg
-rw-r--r--  1 root root    854579 4月  29 10:27 a fish.jpg
-rw-r--r--  1 root root    856766 4月  30 09:36 found it.jpg
-rw-r--r--  1 root root    856896 4月  30 09:38 dwell in.jpg
-rw-r--r--  1 root root    857122 4月  29 10:28 to take.jpg
-rw-r--r--  1 root root    857332 4月  30 09:33 hard up.jpg
-rw-r--r--  1 root root    858102 4月  30 09:37 fat man.jpg
-rw-r--r--  1 root root    858656 4月  29 10:17 whip out.jpg
-rw-r--r--  1 root root    858750 4月  29 10:23 get ill.jpg
-rw-r--r--  1 root root    858873 4月  30 09:36 flee to.jpg
-rw-r--r--  1 root root    858978 4月  30 09:38 do that.jpg
-rw-r--r--  1 root root    859593 4月  29 10:24 ill bred.jpg
-rw-r--r--  1 root root    859788 4月  29 10:24 a cold.jpg
-rw-r--r--  1 root root    860419 4月  29 10:28 on the top.jpg
-rw-r--r--  1 root root    860827 4月  29 10:31 my bad.jpg
-rw-r--r--  1 root root    860853 4月  29 10:18 no key.jpg
-rw-r--r--  1 root root    861151 4月  29 10:19 net profit.jpg
-rw-r--r--  1 root root    861228 4月  29 10:20 be a man.jpg
-rw-r--r--  1 root root    861286 4月  29 10:31 so do i.jpg
-rw-r--r--  1 root root    861295 4月  29 10:18 need for.jpg
-rw-r--r--  1 root root    861428 4月  30 09:38 dive off.jpg
-rw-r--r--  1 root root    861475 4月  29 10:17 the odds.jpg
-rw-r--r--  1 root root    861649 4月  30 09:23 word form.jpg
-rw-r--r--  1 root root    861749 4月  29 10:31 on hand.jpg
-rw-r--r--  1 root root    861760 4月  29 10:26 pen holder.jpg
-rw-r--r--  1 root root    861825 4月  30 09:37 fixed on.jpg
-rw-r--r--  1 root root    861909 4月  29 10:31 hand out.jpg
-rw-r--r--  1 root root    862026 4月  29 10:30 invest in.jpg
-rw-r--r--  1 root root    862255 4月  29 10:21 be in bed.jpg
-rw-r--r--  1 root root    862286 4月  30 09:40 blew out.jpg
-rw-r--r--  1 root root    862288 4月  29 10:17 whole life.jpg
-rw-r--r--  1 root root    862427 4月  29 10:27 at the farm.jpg
-rw-r--r--  1 root root    862525 4月  30 09:24 wave off.jpg
-rw-r--r--  1 root root    862558 4月  29 10:29 a field trip.jpg
-rw-r--r--  1 root root    862646 4月  30 09:34 golf club.jpg
-rw-r--r--  1 root root    862656 4月  30 09:39 confirm to.jpg
-rw-r--r--  1 root root    862884 4月  29 10:17 do laundry.jpg
-rw-r--r--  1 root root    862913 4月  30 09:40 blonde hair.jpg
-rw-r--r--  1 root root    862949 4月  30 09:47 in harmony.jpg
-rw-r--r--  1 root root    863003 4月  29 10:30 came to.jpg
-rw-r--r--  1 root root    863152 4月  29 10:31 i want to.jpg
-rw-r--r--  1 root root    863173 4月  30 09:23 yes i can.jpg
-rw-r--r--  1 root root    863173 4月  30 09:41 back fire.jpg
-rw-r--r--  1 root root    863260 4月  29 10:27 hate crime.jpg
-rw-r--r--  1 root root    863312 4月  29 10:31 loyal to.jpg
-rw-r--r--  1 root root    863479 4月  30 09:37 feel small.jpg
-rw-r--r--  1 root root    863624 4月  29 10:30 has done.jpg
-rw-r--r--  1 root root    863663 4月  30 09:35 get in line.jpg
-rw-r--r--  1 root root    863755 4月  29 10:17 two fifths.jpg
-rw-r--r--  1 root root    863764 4月  30 09:39 copy of.jpg
-rw-r--r--  1 root root    863766 4月  29 10:17 win a prize.jpg
-rw-r--r--  1 root root    864082 4月  29 10:20 gift card.jpg
-rw-r--r--  1 root root    864095 4月  29 10:29 addition to.jpg
-rw-r--r--  1 root root    864183 4月  30 09:47 in stead of.jpg
-rw-r--r--  1 root root    864229 4月  30 09:24 vital sign.jpg
-rw-r--r--  1 root root    864318 4月  30 09:39 crash out.jpg
-rw-r--r--  1 root root    864332 4月  29 10:26 an army of.jpg
-rw-r--r--  1 root root  86445427 4月  30 09:23 word form.mp4
-rw-r--r--  1 root root    864460 4月  29 10:19 long shot.jpg
-rw-r--r--  1 root root    864463 4月  29 10:21 jingle bell.jpg
-rw-r--r--  1 root root    864741 4月  29 10:27 be made for.jpg
-rw-r--r--  1 root root    864770 4月  30 09:38 dining car.jpg
-rw-r--r--  1 root root    864815 4月  30 09:35 get real.jpg
-rw-r--r--  1 root root    864880 4月  30 09:22 late in autumn.jpg
-rw-r--r--  1 root root    864913 4月  30 09:38 even so.jpg
-rw-r--r--  1 root root    865087 4月  29 10:25 be buried in.jpg
-rw-r--r--  1 root root    865130 4月  30 09:38 double bed.jpg
-rw-r--r--  1 root root    865236 4月  30 09:35 front office.jpg
-rw-r--r--  1 root root    865351 4月  29 10:20 this is my.jpg
-rw-r--r--  1 root root    865563 4月  30 09:34 go where.jpg
-rw-r--r--  1 root root    865632 4月  29 10:23 graze on.jpg
-rw-r--r--  1 root root    865721 4月  30 09:41 art studio.jpg
-rw-r--r--  1 root root    865829 4月  29 10:22 enough to.jpg
-rw-r--r--  1 root root    865965 4月  30 09:24 way of life.jpg
-rw-r--r--  1 root root    865997 4月  29 10:23 cared for.jpg
-rw-r--r--  1 root root    866075 4月  30 09:40 bearing on.jpg
-rw-r--r--  1 root root    866147 4月  30 09:23 yes i have.jpg
-rw-r--r--  1 root root    866287 4月  29 10:18 high hopes.jpg
-rw-r--r--  1 root root    866371 4月  30 09:37 face paint.jpg
-rw-r--r--  1 root root    866577 4月  29 10:23 travel plan.jpg
-rw-r--r--  1 root root    866604 4月  29 10:20 day dream.jpg
-rw-r--r--  1 root root    866623 4月  29 10:19 normal boot.jpg
-rw-r--r--  1 root root    866626 4月  30 09:40 black pig.jpg
-rw-r--r--  1 root root    866833 4月  29 10:23 skin deep.jpg
-rw-r--r--  1 root root    867015 4月  29 10:17 feel at home.jpg
-rw-r--r--  1 root root    867037 4月  30 09:39 crime rate.jpg
-rw-r--r--  1 root root    867135 4月  30 09:23 white rabbit.jpg
-rw-r--r--  1 root root    867216 4月  29 10:24 knelt down.jpg
-rw-r--r--  1 root root    867268 4月  29 10:27 drug abuse.jpg
-rw-r--r--  1 root root    867407 4月  29 10:19 call me later.jpg
-rw-r--r--  1 root root    867487 4月  29 10:23 stood by.jpg
-rw-r--r--  1 root root    867491 4月  30 09:41 as below.jpg
-rw-r--r--  1 root root    867715 4月  30 09:40 by the door.jpg
-rw-r--r--  1 root root    867798 4月  30 09:24 virgin wool.jpg
-rw-r--r--  1 root root    867868 4月  30 09:39 cured meat.jpg
-rw-r--r--  1 root root    867929 4月  29 10:29 work out fine.jpg
-rw-r--r--  1 root root    867934 4月  29 10:21 mother in law.jpg
-rw-r--r--  1 root root    867996 4月  29 10:17 we are here.jpg
-rw-r--r--  1 root root    868054 4月  29 10:26 send sb sth.jpg
-rw-r--r--  1 root root    868057 4月  30 09:40 beef stew.jpg
-rw-r--r--  1 root root    868065 4月  30 09:35 get some.jpg
-rw-r--r--  1 root root    868066 4月  29 10:24 it is time to.jpg
-rw-r--r--  1 root root    868142 4月  30 09:41 be adept at.jpg
-rw-r--r--  1 root root    868150 4月  29 10:19 enter code.jpg
-rw-r--r--  1 root root    868222 4月  29 10:21 dead cells.jpg
-rw-r--r--  1 root root    868280 4月  30 09:38 east lake.jpg
-rw-r--r--  1 root root    868301 4月  30 09:40 cherry tree.jpg
-rw-r--r--  1 root root    868316 4月  29 10:17 tooth and nail.jpg
-rw-r--r--  1 root root    868328 4月  30 09:40 bug spray.jpg
-rw-r--r--  1 root root    868379 4月  29 10:19 heat wave.jpg
-rw-r--r--  1 root root    868441 4月  30 09:40 block party.jpg
-rw-r--r--  1 root root    868572 4月  29 10:23 a letter home.jpg
-rw-r--r--  1 root root    868573 4月  29 10:29 right as rain.jpg
-rw-r--r--  1 root root    868594 4月  30 09:39 cut class.jpg
-rw-r--r--  1 root root    868622 4月  29 10:27 comfort food.jpg
-rw-r--r--  1 root root    868664 4月  29 10:26 walks of life.jpg
-rw-r--r--  1 root root    868726 4月  29 10:22 sweet girl.jpg
-rw-r--r--  1 root root    868763 4月  29 10:28 taken away.jpg
-rw-r--r--  1 root root    868793 4月  29 10:24 arctic fox.jpg
-rw-r--r--  1 root root    869186 4月  29 10:25 wind turbine.jpg
-rw-r--r--  1 root root    869215 4月  30 09:37 five minutes.jpg
-rw-r--r--  1 root root    869236 4月  29 10:27 drive through.jpg
-rw-r--r--  1 root root    869250 4月  29 10:24 in advance.jpg
-rw-r--r--  1 root root    869389 4月  29 10:23 that all right.jpg
-rw-r--r--  1 root root    869531 4月  30 09:40 be relaxed.jpg
-rw-r--r--  1 root root    869565 4月  29 10:31 in order that.jpg
-rw-r--r--  1 root root    869639 4月  29 10:20 focuses on.jpg
-rw-r--r--  1 root root    869681 4月  29 10:20 see to it that.jpg
-rw-r--r--  1 root root    869838 4月  29 10:22 never seen.jpg
-rw-r--r--  1 root root    869852 4月  29 10:29 believe in you.jpg
-rw-r--r--  1 root root    869972 4月  30 09:41 at the market.jpg
-rw-r--r--  1 root root    870028 4月  29 10:21 in the class.jpg
-rw-r--r--  1 root root    870184 4月  30 09:39 cotton wool.jpg
-rw-r--r--  1 root root    870260 4月  29 10:26 call names.jpg
-rw-r--r--  1 root root    870282 4月  29 10:25 touch wood.jpg
-rw-r--r--  1 root root    870288 4月  30 09:41 base coat.jpg
-rw-r--r--  1 root root    870315 4月  30 09:35 freaking out.jpg
-rw-r--r--  1 root root    870316 4月  29 10:17 contract with.jpg
-rw-r--r--  1 root root    870346 4月  29 10:21 love myself.jpg
-rw-r--r--  1 root root    870456 4月  29 10:19 good health.jpg
-rw-r--r--  1 root root    870620 4月  29 10:31 high school.jpg
-rw-r--r--  1 root root    870656 4月  30 09:39 dating back.jpg
-rw-r--r--  1 root root    870818 4月  30 09:41 another level.jpg
-rw-r--r--  1 root root    870830 4月  30 09:24 venus flytrap.jpg
-rw-r--r--  1 root root    870958 4月  30 09:38 dry cleaning.jpg
-rw-r--r--  1 root root    870994 4月  29 10:18 hope to do sth.jpg
-rw-r--r--  1 root root    870994 4月  30 09:41 be listed as.jpg
-rw-r--r--  1 root root    871010 4月  29 10:18 locked down.jpg
-rw-r--r--  1 root root    871098 4月  30 09:39 class room.jpg
-rw-r--r--  1 root root    871165 4月  29 10:21 forget about.jpg
-rw-r--r--  1 root root    871400 4月  29 10:27 a lovely day.jpg
-rw-r--r--  1 root root    871538 4月  29 10:28 make a point of.jpg
-rw-r--r--  1 root root    871699 4月  29 10:26 new yorker.jpg
-rw-r--r--  1 root root    871836 4月  30 09:23 without a doubt.jpg
-rw-r--r--  1 root root    872095 4月  29 10:22 give it a go.jpg
-rw-r--r--  1 root root    872278 4月  29 10:20 the scientist.jpg
-rw-r--r--  1 root root    872467 4月  30 09:41 apple polisher.jpg
-rw-r--r--  1 root root    872630 4月  29 10:22 gross profit.jpg
-rw-r--r--  1 root root    872630 4月  30 09:40 chinese model.jpg
-rw-r--r--  1 root root    872755 4月  29 10:25 have a crush.jpg
-rw-r--r--  1 root root    872935 4月  29 10:31 remember me.jpg
-rw-r--r--  1 root root    873020 4月  29 10:24 on the market.jpg
-rw-r--r--  1 root root    873398 4月  29 10:29 pajama party.jpg
-rw-r--r--  1 root root    873453 4月  30 09:41 all by oneself.jpg
-rw-r--r--  1 root root    873577 4月  29 10:23 be said to do.jpg
-rw-r--r--  1 root root    873660 4月  29 10:30 increase by.jpg
-rw-r--r--  1 root root    873666 4月  29 10:20 in contact with.jpg
-rw-r--r--  1 root root    873732 4月  30 09:40 chess board.jpg
-rw-r--r--  1 root root    873762 4月  30 09:41 asset tag.jpg
-rw-r--r--  1 root root    873837 4月  29 10:22 party animals.jpg
-rw-r--r--  1 root root    873980 4月  29 10:25 car free day.jpg
-rw-r--r--  1 root root    874027 4月  30 09:23 what was that.jpg
-rw-r--r--  1 root root    874242 4月  30 09:40 beyond repair.jpg
-rw-r--r--  1 root root    874261 4月  29 10:22 street corner.jpg
-rw-r--r--  1 root root    874317 4月  29 10:26 just the two of us.jpg
-rw-r--r--  1 root root    874556 4月  29 10:27 be available for.jpg
-rw-r--r--  1 root root    874831 4月  30 09:39 conveyor belt.jpg
-rw-r--r--  1 root root    874962 4月  29 10:24 black magic.jpg
-rw-r--r--  1 root root    875012 4月  29 10:26 where there is life.jpg
-rw-r--r--  1 root root    875036 4月  29 10:21 on one's way.jpg
-rw-r--r--  1 root root    875072 4月  29 10:25 victory day.jpg
-rw-r--r--  1 root root    875096 4月  29 10:24 hot chocolate.jpg
-rw-r--r--  1 root root    875134 4月  30 09:40 business suit.jpg
-rw-r--r--  1 root root    875234 4月  29 10:30 late for school.jpg
-rw-r--r--  1 root root    875253 4月  30 09:38 decimal place.jpg
-rw-r--r--  1 root root    875398 4月  29 10:23 come into play.jpg
-rw-r--r--  1 root root    875419 4月  29 10:20 easter show.jpg
-rw-r--r--  1 root root    875420 4月  29 10:24 where to go.jpg
-rw-r--r--  1 root root    875452 4月  29 10:23 bid farewell to.jpg
-rw-r--r--  1 root root    875456 4月  29 10:17 common ground.jpg
-rw-r--r--  1 root root    875487 4月  29 10:19 learn a lesson.jpg
-rw-r--r--  1 root root    875647 4月  29 10:30 handsome boy.jpg
-rw-r--r--  1 root root    875648 4月  29 10:18 on the first floor.jpg
-rw-r--r--  1 root root    875677 4月  29 10:25 the zoo story.jpg
-rw-r--r--  1 root root    875747 4月  29 10:19 dance to music.jpg
-rw-r--r--  1 root root    875854 4月  30 09:47 where were you.jpg
-rw-r--r--  1 root root    875870 4月  30 09:24 walking boots.jpg
-rw-r--r--  1 root root    875885 4月  29 10:22 make full use of.jpg
-rw-r--r--  1 root root    875950 4月  29 10:17 do the washing.jpg
-rw-r--r--  1 root root    876218 4月  29 10:20 a pair of shoes.jpg
-rw-r--r--  1 root root    876373 4月  30 09:24 what do they like.jpg
-rw-r--r--  1 root root    876528 4月  30 09:41 arcade game.jpg
-rw-r--r--  1 root root    876623 4月  29 10:30 love paradise.jpg
-rw-r--r--  1 root root    876654 4月  30 09:35 game change.jpg
-rw-r--r--  1 root root    876903 4月  30 09:22 late for class.jpg
-rw-r--r--  1 root root    876954 4月  29 10:24 to what extent.jpg
-rw-r--r--  1 root root    877180 4月  29 10:30 be busy doing.jpg
-rw-r--r--  1 root root    877214 4月  30 09:39 comparable to.jpg
-rw-r--r--  1 root root    877240 4月  29 10:25 freight collect.jpg
-rw-r--r--  1 root root    877457 4月  30 09:39 common wealth.jpg
-rw-r--r--  1 root root    877680 4月  30 09:41 be infected with.jpg
-rw-r--r--  1 root root    877691 4月  29 10:25 happy april fool.jpg
-rw-r--r--  1 root root    877976 4月  30 09:39 connection with.jpg
-rw-r--r--  1 root root    878199 4月  29 10:22 obsessed with.jpg
-rw-r--r--  1 root root    878244 4月  30 09:39 civil servants.jpg
-rw-r--r--  1 root root    878461 4月  29 10:18 there is no need.jpg
-rw-r--r--  1 root root    878510 4月  29 10:20 blow your nose.jpg
-rw-r--r--  1 root root    879270 4月  30 09:40 by necessity.jpg
-rw-r--r--  1 root root    879382 4月  30 09:38 division of labor.jpg
-rw-r--r--  1 root root    879516 4月  29 10:23 what shape is it.jpg
-rw-r--r--  1 root root    879550 4月  29 10:25 save one's life.jpg
-rw-r--r--  1 root root    879852 4月  29 10:29 think for oneself.jpg
-rw-r--r--  1 root root    879990 4月  29 10:26 sentence pattern.jpg
-rw-r--r--  1 root root    880047 4月  29 10:20 would rather than.jpg
-rw-r--r--  1 root root    880230 4月  29 10:28 unearned revenue.jpg
-rw-r--r--  1 root root    880233 4月  30 09:39 chopping board.jpg
-rw-r--r--  1 root root    880355 4月  30 09:22 laptop computer.jpg
-rw-r--r--  1 root root    880565 4月  30 09:39 culture diversity.jpg
-rw-r--r--  1 root root    880734 4月  29 10:31 when it comes to.jpg
-rw-r--r--  1 root root    880999 4月  29 10:25 rhyming words.jpg
-rw-r--r--  1 root root    881034 4月  30 09:40 be removed from.jpg
-rw-r--r--  1 root root    881671 4月  29 10:21 the sun is shining.jpg
-rw-r--r--  1 root root    881823 4月  29 10:21 please don't go.jpg
-rw-r--r--  1 root root    882152 4月  29 10:18 saving account.jpg
-rw-r--r--  1 root root    882203 4月  30 09:38 driverless cars.jpg
-rw-r--r--  1 root root    882247 4月  29 10:29 save changes.jpg
-rw-r--r--  1 root root    882506 4月  29 10:18 invalid character.jpg
-rw-r--r--  1 root root    882557 4月  29 10:31 speculate about.jpg
-rw-r--r--  1 root root    882620 4月  29 10:17 using the computer.jpg
-rw-r--r--  1 root root    882825 4月  30 09:33 ground breaking.jpg
-rw-r--r--  1 root root    882977 4月  30 09:38 enjoy the full moon.jpg
-rw-r--r--  1 root root    883395 4月  30 09:38 during the holiday.jpg
-rw-r--r--  1 root root    883462 4月  30 09:38 do some sports.jpg
-rw-r--r--  1 root root    883657 4月  29 10:26 be angry with sb.jpg
-rw-r--r--  1 root root    883964 4月  29 10:20 breaking my heart.jpg
-rw-r--r--  1 root root    884101 4月  29 10:21 would you please.jpg
-rw-r--r--  1 root root    884333 4月  29 10:27 answer the question.jpg
-rw-r--r--  1 root root    884561 4月  29 10:21 listening to music.jpg
-rw-r--r--  1 root root    884769 4月  29 10:21 have a toothache.jpg
-rw-r--r--  1 root root    884935 4月  29 10:24 internal server error.jpg
-rw-r--r--  1 root root    885151 4月  29 10:30 no cross no crown.jpg
-rw-r--r--  1 root root    885421 4月  29 10:18 lose one's temper.jpg
-rw-r--r--  1 root root    885508 4月  29 10:19 why the long face.jpg
-rw-r--r--  1 root root    885571 4月  29 10:23 what does she do.jpg
-rw-r--r--  1 root root    885658 4月  30 09:37 every weekday.jpg
-rw-r--r--  1 root root    885765 4月  30 09:41 be considerate of.jpg
-rw-r--r--  1 root root    885966 4月  29 10:21 drawing in the park.jpg
-rw-r--r--  1 root root    886375 4月  30 09:34 go down in history.jpg
-rw-r--r--  1 root root    886530 4月  29 10:19 play hide and seek.jpg
-rw-r--r--  1 root root    886728 4月  29 10:25 happy birthday to me.jpg
-rw-r--r--  1 root root    886806 4月  29 10:22 get in touch with sb.jpg
-rw-r--r--  1 root root    886886 4月  29 10:31 leave the door open.jpg
-rw-r--r--  1 root root    887038 4月  30 09:23 whenever possible.jpg
-rw-r--r--  1 root root    887221 4月  30 09:36 forgot password.jpg
-rw-r--r--  1 root root    887306 4月  30 09:23 what do you want to buy.jpg
-rw-r--r--  1 root root    887447 4月  30 09:41 be compatible with.jpg
-rw-r--r--  1 root root    887764 4月  29 10:21 you are the reason.jpg
-rw-r--r--  1 root root    887832 4月  29 10:29 pride and prejudice.jpg
-rw-r--r--  1 root root    887876 4月  29 10:27 have a sports meeting.jpg
-rw-r--r--  1 root root    888057 4月  29 10:30 from my point of view.jpg
-rw-r--r--  1 root root    888069 4月  29 10:24 augmented reality.jpg
-rw-r--r--  1 root root    888128 4月  29 10:20 a growing number of.jpg
-rw-r--r--  1 root root    888484 4月  29 10:26 mission statement.jpg
-rw-r--r--  1 root root    888679 4月  29 10:29 rain cats and dogs.jpg
-rw-r--r--  1 root root    889129 4月  29 10:26 ministry of education.jpg
-rw-r--r--  1 root root    889638 4月  30 09:37 fall by the wayside.jpg
-rw-r--r--  1 root root    890335 4月  30 09:37 expository writing.jpg
-rw-r--r--  1 root root    891403 4月  30 09:39 chronological order.jpg
-rw-r--r--  1 root root    891458 4月  29 10:22 my favorite season.jpg
-rw-r--r--  1 root root    891723 4月  30 09:38 emergency contact.jpg
-rw-r--r--  1 root root    892060 4月  29 10:26 intercultural communication.jpg
-rw-r--r--  1 root root    893117 4月  30 09:33 good things take time.jpg
-rw-r--r--  1 root root    894826 4月  30 09:38 do your ears hang low.jpg
-rw-r--r--  1 root root    895908 4月  29 10:20 have trouble in doing sth.jpg
-rw-r--r--  1 root root    897109 4月  30 09:41 avoid doing something.jpg
-rw-r--r--  1 root root    897288 4月  30 09:37 five score years ago.jpg
-rw-r--r--  1 root root    898650 4月  30 09:35 generation to generation.jpg
-rw-r--r--  1 root root    898982 4月  29 10:29 rome was not built in a day.jpg
-rw-r--r--  1 root root    899449 4月  30 09:33 gross merchandise volume.jpg
-rw-r--r--  1 root root    899699 4月  30 09:23 what kind of music do you like.jpg
-rw-r--r--  1 root root    902815 4月  30 09:40 cast pearls before swine.jpg